<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- As permissões de armazenamento foram depreciadas a partir do Android 11 (API 30).
         Use o SAF (Storage Access Framework) ou MediaStore. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name="br.com.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7819301718588435~4612469109" />

        <activity
            android:name="br.com.vansact.MainApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.com.vansact.AddItemShoppingList"
            android:exported="true"
            android:label="@string/title_new"
            android:parentActivityName="br.com.vansact.MainApp" />

        <activity
            android:name="br.com.vansact.ShoppingListImporter"
            android:exported="true"
            android:label="@string/xml_import"
            android:parentActivityName="br.com.vansact.MainApp">

            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/app_name"
                android:priority="50"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.slx" />
                <data android:pathPattern=".*\\..*\\.slx" />
                <data android:pathPattern=".*\\..*\\..*\\.slx" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.slx" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.com.vansprefs.UserPreferences"
            android:label="@string/title_new" />

        <receiver
            android:name="br.com.vansschedule.AlarmNotificationShoppingList"
            android:exported="false">
            <intent-filter>
                <action android:name="AlarmeNotificationShoppingList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
